// Base color
$rio-primary-color: rgb(255, 99, 3);
$rio-primary-color-invert: #fff;

// Tech color
$wordpress-color: rgb(145, 198, 223);
$php-color: rgb(182, 188, 211);
$sass-color: #c69;
$shopify-color: #64943e;
$typescript-color: #007acc;
$vue-color: #41b883;
$nuxt-color: #3b8070;
$vite-color: #b455cf;
$webpack-color: #8dd6f9;
$figma-color: #aaa;
